#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main-game.js*/
.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  justify-content: center;
  align-content: center;
}

.board-piece {
  border: 1px solid black;
  padding: 1.2rem;
}

/* Ships while placing */
.place-ships-menu {
  margin: 1rem 0 0;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.ships-to-place-container {
  grid-area: 1 / 1 / -1 / -1 !important;
  justify-self: center;
  align-self: center;
  border: pink 1px double;
  padding: 1rem 3rem;
}

.current-ship {
  margin-top: 1rem;
}

.place-ship-text {
  text-decoration: underline;
}

.ship {
  margin: 0.2rem;
}

.ship-container {
  display: flex;
}

.ship-piece {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1.2rem;
  background-color: beige;
}

/* Drag UI control */
.available.dragover {
  background-color: rgb(215, 249, 215);
}

.unavailable.dragover {
  background-color: pink;
}

.invalid.dragover {
  background-color: red;
}

.board-piece.ship-present {
  background-color: blue;
}

/* This has no point, it's just for practicing transforms and transitions */
.ship-present:hover {
  transform: perspective(400px) scale(1.11) rotateY(20deg);
  transition: all linear 0.1s;
}

.confirm-selection {
  align-self: center;
  justify-self: center;
  background-color: rgb(188, 230, 188);
  border: 1px solid gainsboro;
  cursor: pointer;
  padding: 0.5rem 3rem;
  border-radius: 5px;
}

.confirm-selection:hover {
  background-color: rgb(33, 39, 33);
  transform: scale(1.02);
  color: rgb(252, 252, 252);
  transition: all 0.5s;
}
